MonoDevelop.UnityMode.RestService/obj
MonoDevelop.UnityMode.UnityRestClient/obj
MonoDevelop.UnityMode.userprefs
.DS_Store
MonoDevelop.UnityMode.RestService.ServiceModel/obj
MonoDevelop.UnityMode/obj
MonoDevelop.UnityMode.Tests/bin
MonoDevelop.UnityMode.Tests/obj
